---
layout: default
title: Categories
---
{% assign sorted_categories = (site.categories | sort: 0) %}

<h2>Categories</h2>

<div class="tags-expo">
    <div class="tags-expo-list">
        <ul>
            {% for tag in sorted_categories %}
            <li>
                <a href="#{{ tag[0] | slugify }}"
                   class="post-tag">
                   {{ tag[0] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr />
    <div class="tags-expo-section">
        {% for tag in sorted_categories %}
        <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
        <ul class="tags-expo-posts">
            {% assign sorted_posts = (tag[1] | sort: 'title') %}
            {% for post in sorted_posts %}
            <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                <li>
                    {{ post.title }}
                    <small class="post-date">{{ post.date | date: "%Y-%m-%d" }}</small>
                </li>
            </a>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
